#page-create-point {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;
}

#page-create-point header {
    margin-top: 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-create-point header a span {
    background: url('../assets/arrow-left.svg');
    width: 20px;
    height: 24px;

    display: flex;
    margin-right: 16px;
    
    transition: 200ms ease-in-out;
}

#page-create-point header a:hover span {
    transform: translateX(5px);
}

#page-create-point header a {
    display: flex;
    align-items: center;

    color: var(--title-text);
    font-weight: 700;
    
}

#form {
    width: 60%;
    max-width: 736px;

    margin: 80px auto;
    padding: 64px;

    background: #ffffff;
    border-radius: 8px;

}

form h1 {
    width: 100%;
    max-width: 270px;

    font-size: 36px;
    font-weight: bold;
    line-height: 41px;
}

form fieldset {
    margin-top: 64px;
    border: none;
}

form legend {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form legend h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

form legend span {
    font-size: 14px;
    color: var(--title-color);
}

form .field {
    display: flex;
    flex: 1;
    flex-direction: column;
    
    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form .field label {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #6C6C80;

    margin-bottom: 8px;
}

form .field input, select {
    padding: 16px 24px;
    background: var(--bg-color);
    border:none;
    outline: none;
    border-radius: 8px;

    font-size: 16px;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;

    background: var(--primary-color);

    color: #ffffff;
    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 8px;

    margin-top: 40px;

    transition: background 400ms ease-out;
}

form button:hover {
    background: #2fb86e;
}

form .items-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

form .items-grid li {
    background: #f5f5f5;
    border-radius: 8px;
    list-style: none;

    height: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    padding: 32px 24px 16px;
    transition: all 400ms ease-in-out;

    cursor: pointer;
}

form .items-grid li span {
    flex:1;
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 20px;

    margin-top: 12px;

    color: var(--title-color);
}

form .items-grid li:hover { 
    transform: translateY(-10px); 
}


form .items-grid li.selected {
    background: linear-gradient(0deg, #E1FAEC 0%, #FFFFFF 100%);
    border: 2px solid #34cb79;
}

.items-grid li img, 
.items-grid li span {
    pointer-events: none;
}
